<div class="linx">
  <img
    alt="a picture of pixelated retro computer"
    class="compooter"
    src="compooter.png"
  />
  <div class="contact">
    <a class="link" href="https://www.github.com/adirar111" target="_blank">
      <i class="link-icon fab fa-github-alt"></i>
    </a>
    <a
      class="link"
      href="https://www.linkedin.com/in/aymen-dirar/"
      target="_blank"
    >
      <i class="link-icon fab fa-linkedin-in"></i>
    </a>
    <a class="link" href="mailto:adirar111@gmail.com" target="_blank">
      <i class="link-icon fa fa-at"></i>
    </a>
  </div>
</div>
