<div class="column">
  <div class="who-tape-container">
    <img
      alt="washi tape of The Great Wave off Kanagawa"
      class="tape who-tape"
      src="wave-tape.png"
    />
  </div>
  <div class="who">
    {{ with site.GetPage "me" }}
    <h2 class="who-title">{{ .Title }}</h2>
    <p class="who-me">{{ .Content | plainify }}</p>
    {{ end }}
    <iframe
      class="playlist"
      src="https://open.spotify.com/embed/playlist/2OTawv8KkasrumDjV9UcMr?utm_source=generator"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    ></iframe>
  </div>
</div>
