<section class="experience-container">
  <div class="experience-tape-container">
    <img
      alt="washi tape of The Great Wave off Kanagawa"
      class="tape left-tape"
      src="wave-tape.png"
    />
    <img
      alt="washi tape of The Great Wave off Kanagawa"
      class="tape right-tape"
      src="wave-tape.png"
    />
  </div>
  <div class="experience">
    <h2 class="experience-title">things i "did"<br />and "worked on"</h2>
    {{partial "internal/experience-items.html" .}}
  </div>
</section>
