<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href="https://adirar111.github.io/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="compooter.png" />
    <link rel="stylesheet" href="style.css" />
    <title>{{.Site.Title}}</title>

    <!-- font stuffs -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d4be520661.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {{partial "header.html" .}} {{partial "general-info.html" .}} {{partial
    "experience.html" . }}
  </body>
  {{partial "footer.html" . }}
</html>
